@import "tailwindcss";

:root {
  --background: #ffffff;    /* Чистый белый фон */
  --foreground: #1a1a1a;    /* Глубокий темный текст */
  --card-bg: #f5f5f5;       /* Светлый фон карточек/секций */
  --accent: #00796B;        /* Темный, насыщенный Teal (основной акцент) */
  --accent-hover: #009688;  /* Более светлый при наведении */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}